html {
  scroll-behavior: smooth;
}
@media (min-width:960px) and (orientation: landscape){
nav .navbar-nav li a:hover{
  color: darkorange !important;
}
nav{
  border-block-end: solid darkorange 4px 
}
  header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
  }
  .slider{
  margin-bottom: 50px;
  margin: auto;
  width: 960px
}
.carousel-caption{
  background-color: darkorange;
  width: 100%;
  margin-left: -144px;
  margin-bottom:-20px; 
}
.carousel-caption:hover{
  color: black !important;
}
.apropos h1{
  text-align: center;
}
.textApropos{
  width: 960px;
  margin: auto;
  text-align: justify;
}
.apropos{
  margin-top: 50px;
  margin-bottom: 50px;
    
}
  .equipe{
    padding-top: 10px; 
    background-color: darkorange;
    color: white;
    text-align: center;
  }
  .containerFlex{
    display: flex;
    width: 960px;
    margin: auto;
    text-align: center
  }
  .articleEquipe{
    margin: 10px;
  }
  .articleEquipe p{
    text-align: justify;
  }
  .articleEquipe img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    
  }
  #Services{
    text-align: center;
  }
  .ContainerArticleService{
    width: 960px;
    display: flex;
    margin: auto;
    text-align: center
  }
  .articleService p{
    text-align: justify;
  }
  .articleService h2 {
    margin-bottom: 10px;
  }
  .articleService{
    margin: 20px
  }
.col-xs-3 img{
  width:320px;
  margin: auto;
}
  .row{
    width: 960px;
    margin: auto;
  }

  .materiel h1{
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }
  .h-divider{
   margin: auto;
   margin-top:5px;
   margin-bottom:10px;
   height:1px;
   width:40px;
   border-top:5px solid rgb(30, 30, 30) ;
}
  .materiel p{
    text-align: center;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
    color: white;
  }
  .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}



.col-xs-3:hover .image {
  opacity: 0.3;
}
  .hoverImageMaterial{
    position: absolute;
    color: white;
    padding: 50px;
    text-align: center;
    opacity: 0;
  }

.col-xs-3:hover .hoverImageMaterial {
  opacity: 1;
  color: white;
  font-size: 16px;
  padding: auto;
  margin: auto;
}
   .materiel{
    padding-top: 50px; 
    background-color: darkorange;
    padding-bottom: 50px;
  }
   .materiel h1{
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }
  .h-divider{
   margin: auto;
   margin-top:5px;
   margin-bottom:10px;
   height:1px;
   width:40px;
   border-top:5px solid rgb(30, 30, 30) ;
}
  
  .zoneAction h1{
    text-align: center;
    margin-bottom:10px;
  }
  .zoneAction{
    width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .zoneAction iframe{
    margin: auto;
  }
    
  footer{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    
    background-color: rgb(30,30,30);
    color: white !important;
  }
  footer a{
    color: white
  }

  .Mentions{
    text-align: center;
  }
  .titreService{
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    padding: 100px;
    margin-bottom: 50px;
  }
  .typeDeTravail{
    margin: auto;
    width: 960px;
  }
  #confidentialite {
    text-align: justify;
    margin: auto;
    width: 960px;
  }
  #mentions{
    text-align: justify;
    margin: auto;
    width: 960px;
  }


  
}
@media (orientation: portrait) {
  nav{
  border-block-end: solid darkorange 4px;
    font-size: 2em;
}
 .dropdown-item{
    font-size: 2em
  }
  h1 {
    text-align: center;
    font-size: 4em;
  }
  p{
    font-size: 2em;
  }
   .equipe{
    padding-top: 10px; 
    background-color: darkorange;
    color: white;
    text-align: center;
  }
   .articleEquipe img{
    width: 50px;
  }
  .materiel{
    padding-top: 50px; 
    background-color: darkorange;
    padding-bottom: 50px;
  }
  .carousel-caption {
    background-color: darkorange; 
}
 
  
  footer{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    
    background-color: rgb(30,30,30);
    color: white !important;
  }
  footer a{
    color: white
  }
.col-xs-3 img{
  width:320px;
  margin: auto;
}
  .row{
    margin: auto;
  }

  .materiel h1{
    text-align: center;
    color: white;
    padding-bottom: 10px;
  }
  .h-divider{
   margin: auto;
   margin-top:5px;
   margin-bottom:10px;
   height:1px;
   width:40px;
   border-top:5px solid rgb(30, 30, 30) ;
}
  .materiel p{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    color: white;
  }
  .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}



.col-xs-3:hover .image {
  opacity: 0.3;
}
  .hoverImageMaterial{
    position: absolute;
    color: white;
    padding: 50px;
    text-align: center;
    opacity: 0;
  }

.col-xs-3:hover .hoverImageMaterial {
  opacity: 1;
  color: white;
  font-size: 16px;
  padding: auto;
  margin: auto;
}
}
  
